.navigation {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    height: 5em;
    background-color: #333;
    padding-left: 5em;
    padding-right: 5em;
}

.navigation li {
    float: left;
    height: 100%;
    align-items: center;
    display: flex;
    font-size: 1.5em;
}

.navigation a {
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li:hover {
    background-color: #111;
}

.logo {
    height: 2em;
}